

## we are trying to put down a simple view of the node, it's data
## and the data around the node.
## if the user clicks on a related node we shift to focusing
## on that node

## to keep it simple for now we are going to put
## a box in the middle of the page which is the focus'd
## the related nodes around it

## we are going to setup templates for each of the node types
## each of the templates is going to be rendered into a cell
## who's size is unknown

<html>
<head>

    <script src="https://ajax.googleapis.com/ajax/libs/ext-core/3.1.0/ext-core-debug.js"></script>

    <script>

    // workers to build up the functions
    // which will act as renderers
    var node_renderers = {};

    node_renderers['DEFAULT'] = function(d) {
        return '';
    };

    var render = function(data) {
        // find our renderer
        var r = node_renderers[data['type']];
        if(Ext.isEmpty(r))
            r = node_renderers['DEFAULT'];
        return r(data);
    }

    var T = function(type,renderers) {
        node_renderers[type] = function(data) {
            var pieces = [];
            for(var k in data) {  
                var result = data[k];
                var r;
                Ext.each(renderers,function(renderer) {
                    // we are assuming/enforcing only one renderer hit
                    r = renderer(k,data[k]);
                    if(!Ext.isEmpty(r) && r) {
                        pieces.push(r);
                        return false;
                    }
                },this);
            }
            var p, to_return = '';
            while(p = pieces.pop()) {
                to_return += ''+p+'<br/>';
            }
            return to_return;
        };
    };

    var get_renderer = function(name,modifiers) {
        return (function(k,v) {
            if(name==k) {
                Ext.each(modifiers,function(m) {
                    v = m(v);
                },this);
                return v;
            }
            return false;
        });
    };

    var F = function() {
        arguments = Array.prototype.slice.call(arguments);
        var name = arguments[0];
        var modifiers = arguments.splice(1);
        return get_renderer(name,modifiers);
    };

    // possible modifiers
    var as_link = function(v) {
        return '<a href="'+v+'">'+v+'</a>';
    };
    var bold = function(v) {
        return '<b>'+v+'</b>';
    };
    var image = function(size) {
        return (function(v) {
            var r = '<img src="'+v+'" ';
            switch(size) {
                case 'small':
                    r += 'width="50px"';
                    break;
                default:
                    r += 'width="100"';
            }
            r += '/>';
            return r;
        })
    };

    // our data
    T('FeedEntry',[
        F('source',as_link),
        F('title',bold),
        F('body'),
        F('timestamp') 
    ]);

    T('Comment',[
        F('title',bold),
        F('comment')
    ]);

    T('User',[
        F('handle',bold),
        F('avatar_url',image('small'))
    ]);

    T('Author',[
        F('handle',bold),
        F('avatar_url',image('small'))
    ]);


    // the main elements on the page we touch
    var MAIN_EL = function() {
        return Ext.get('main_el');
    };

    var RELATIVE_CONTAINER = function(el) {
        var rel;
        el = Ext.get(el);
        if(!Ext.isEmpty(el)) {
            if(el != MAIN_EL()) {
                rel = el.down('.relative_container');
                if(!Ext.isEmpty(rel))
                    return rel
                rel = Ext.DomHelper.append(el,{
                    tag:'div',
                    cls:'relative_container'
                },true);
            }
            if(!Ext.isEmpty(rel))
                return rel
        }
        return Ext.get('relative_container');
    }


    // update a node
    var update_node = function(el,data) {
        el.update(render(data));
    };


    // clear out the relative nodes
    var clear_relatives = function() {
        RELATIVE_CONTAINER().select('.relative_node').each(function(el) {
            el.remove();
        },this);
    }

    var relative_filter_items = [];
    var possible_filters = [];

    var _handle_filter_button = function() {
        if(relative_filter_items.indexOf(this.type) != -1) {
            relative_filter_items.remove(this.type);
            this.removeClass('enabled');
        } else {
            relative_filter_items.push(this.type);
            this.addClass('enabled');
        }
        activate(last_data.id);
    };

    var update_filter_buttons = function() {
        var container = Ext.get('filter_button_container');
        container.select('button').each(function(b) {
            b.remove();
        },this);
        Ext.each(possible_filters,function(type) {
            var b = Ext.DomHelper.append(container,
                                         '<button>'+type+'</button>',
                                         true);

            b.type = type;
            if(relative_filter_items.indexOf(b.type) != -1)
                b.addClass('enabled');
            b.on('click',_handle_filter_button);
        },this);
    };

    var update_possible_filters = function(relatives) {
        Ext.each(relatives,function(r) {
            if(possible_filters.indexOf(r.type) == -1)
                possible_filters.push(r.type);
        },this);
        update_filter_buttons();
    };

    // filter relative nodes if a relative filter is set
    var filter_relatives = function(relatives) {
        update_possible_filters(relatives);
        if(!Ext.isEmpty(relative_filter_items)) {
            var _to_remove = [];
            Ext.each(relatives,function(rel) {
                if(relative_filter_items.indexOf(rel.type)==-1)
                    _to_remove.push(rel);
            },this);
            Ext.each(_to_remove,function(tr) {
                relatives.remove(tr);
            },this);
        }
        return relatives;
    };

    var _get_relatives = function(rels) {
        if(!Ext.isEmpty(rels))
            return filter_relatives(rels);
        return [];
    };

    var get_relatives = function(data) {
        return _get_relatives(data._relatives);
    };

    // add relative nodes
    var add_relative = function(data,node_el) {
        var el = Ext.DomHelper.append(RELATIVE_CONTAINER(node_el),{
            tag: 'div',
            cls: 'relative_node'
        },true);
        update_node(el,data);
        var relatives = get_relatives(data);
        Ext.each(data._relatives,function(rel_data) {
            add_relative(rel_data,el);
        },this);
    };

    var last_data = {};

    var _handle_activate_response = function(data) {
        last_data = data;

        // the root of data is going to be the node's data
        // use that data to update our main node div
        update_node(MAIN_EL(),data);

        // now update the relatives
        // first clear out the relatives we have showing now
        clear_relatives();

        // now that we have a clean canvas, render in
        // our relatives
        var relatives = get_relatives(data);
        Ext.each(data._relatives,add_relative);
    };

    var handle_activate_response = function(response) {
        var data = Ext.decode(response.responseText);
        _handle_activate_response(data);
    };

    var handle_activate_multi_response = function(response) {
        var data = Ext.decode(response.responseText);
        data = {_relatives:data};
        _handle_activate_response(data);
    }

    var load_front_page = function(count) {
        var front_page_count = count || 10;
        Ext.Ajax.request({
            disableCaching: false,
            url:'/recent_nodes/'+front_page_count,
            success: handle_activate_multi_response
        });
    }

    // function to update our view
    var activate = function(id) {
        if(Ext.isEmpty(id)) {
            load_front_page();
            return;
        }

        // fetch the nodes data
        var depth = 2;
        Ext.Ajax.request({
            disableCaching: false, // server can't handle extra params
            url:'/node/'+id+'/'+depth+'/',
            success: handle_activate_response
        });
    };


    Ext.onReady(load_front_page);
    </script>


    <style>
        #main_el {
            padding: 15px;
        }
        #relative_container {
            margin: 5px 10px 10px 20px;;
        }
        .relative_node {
            border: 4px solid #cccccc;
            padding: 10px;
            margin: 0 0 10px 0;
        }
        button {
            border: 1px solid #cccccc;
            margin: 0 2px;
        }
        button.enabled {
            border: 1px solid black;
        }
    </style>
</head>


<body>
    <div id="main_el">
    </div>
    <hr/>
    <div id="filter_button_container">
    </div>
    <hr/>
    <div id="relative_container">
    </div>
</body>
</html>
