

## we are trying to put down a simple view of the node, it's data
## and the data around the node.
## if the user clicks on a related node we shift to focusing
## on that node

## to keep it simple for now we are going to put
## a box in the middle of the page which is the focus'd
## the related nodes around it

## we are going to setup templates for each of the node types
## each of the templates is going to be rendered into a cell
## who's size is unknown

<html>
<head>

    <!-- <script src="https://ajax.googleapis.com/ajax/libs/ext-core/3.1.0/ext-core-debug.js"></script> -->
    <script src="/js/ext-core-debug.js"/></script>

    <script>

    // for some reason when i wrote this javascript I was
    // in a competition with myself to not comment any of
    // it. I have no explaination other than it was
    // quote late

    // workers to build up the functions
    // which will act as renderers
    var node_renderers = {};

    node_renderers['DEFAULT'] = function(d) {
        return '';
    };

    var render = function(data) {
        // find our renderer
        var r = node_renderers[data['type']];
        if(Ext.isEmpty(r))
            r = node_renderers['DEFAULT'];
        return r(data);
    }

    var T = function(type,renderers) {
        node_renderers[type] = function(data) {
            var pieces = [];
            for(var k in data) {  
                var result = data[k];
                var r;
                Ext.each(renderers,function(renderer) {
                    // we are assuming/enforcing only one renderer hit
                    r = renderer(k,data[k]);
                    if(!Ext.isEmpty(r) && r) {
                        pieces.push(r);
                        return false;
                    }
                },this);
            }
            var p, to_return = '';
            while(p = pieces.pop()) {
                to_return += ''+p+'<br/>';
            }
            return to_return;
        };
    };

    var get_renderer = function(name,modifiers) {
        return (function(k,v) {
            if(name==k) {
                Ext.each(modifiers,function(m) {
                    v = m(v);
                },this);
                return v;
            }
            return false;
        });
    };

    var F = function() {
        arguments = Array.prototype.slice.call(arguments);
        var name = arguments[0];
        var modifiers = arguments.splice(1);
        return get_renderer(name,modifiers);
    };

    // possible modifiers
    var as_link = function(v) {
        return '<a href="'+v+'">'+v+'</a>';
    };
    var bold = function(v) {
        return '<b>'+v+'</b>';
    };
    var image = function(size) {
        return (function(v) {
            var r = '<img src="'+v+'" ';
            switch(size) {
                case 'small':
                    r += 'width="50px"';
                    break;
                default:
                    r += 'width="100"';
            }
            r += '/>';
            return r;
        })
    };

    // our data
    T('FeedEntry',[
        F('source',as_link),
        F('title',bold),
        F('body'),
        F('timestamp') 
    ]);

    T('Comment',[
        F('title',bold),
        F('comment')
    ]);

    T('User',[
        F('handle',bold),
        F('avatar_url',image('small'))
    ]);

    T('Author',[
        F('handle',bold),
        F('avatar_url',image('small'))
    ]);


    // the main elements on the page we touch
    var MAIN_EL = function() {
        return Ext.get('main_el');
    };

    var RELATIVE_CONTAINER = function(el) {
        var rel;
        el = Ext.get(el);
        if(!Ext.isEmpty(el)) {
            if(el != MAIN_EL()) {
                rel = el.down('.relative_container');
                if(!Ext.isEmpty(rel))
                    return rel
                rel = Ext.DomHelper.append(el,{
                    tag:'div',
                    cls:'relative_container'
                },true);
            }
            if(!Ext.isEmpty(rel))
                return rel
        }
        return Ext.get('relative_container');
    }

    // adds a focus clickable to each node
    var append_focus_button = function(el,data) {
        var b = Ext.DomHelper.append(el,{ tag:'a', 
                                          href:'#',
                                          html:'focus',
                                          cls:'focus'},
                                     true);
        b.on('click',function(event) { 
            event.preventDefault();
            activate(data.id);
        });
    };


    // appends a link to add a comment node
    var append_comment_button = function(el,data) {
        var b = Ext.DomHelper.append(el,{ tag:'a',
                                          href:'#',
                                          html:'comment',
                                          cls:'comment' },
                                     true);
    };

    // update a node
    var update_node = function(el,data) {
        el.update(render(data));
        if(el != MAIN_EL()) {
            append_focus_button(el,data);
        }

    };


    // clear out the relative nodes
    var clear_relatives = function() {
        RELATIVE_CONTAINER().select('.relative_node').each(function(el) {
            el.remove();
        },this);
    }

    var relative_filter_items = [];

    var _handle_filter_button = function() {
        if(relative_filter_items.indexOf(this.type) != -1) {
            relative_filter_items.remove(this.type);
            this.removeClass('enabled');
        } else {
            relative_filter_items.push(this.type);
            this.addClass('enabled');
        }
        refresh_page_data();
    };

    var update_filter_buttons = function(possible_filters) {
        var container = Ext.get('filter_button_container');
        container.select('button').each(function(b) {
            b.remove();
        },this);
        Ext.each(possible_filters,function(type) {
            var b = Ext.DomHelper.append(container,
                                         '<button>'+type+'</button>',
                                         true);

            b.type = type;
            if(relative_filter_items.indexOf(b.type) != -1)
                b.addClass('enabled');
            b.on('click',_handle_filter_button);
        },this);
    };

    var update_possible_filters = function(relatives) {
        var possible_filters = [];
        Ext.each(relatives,function(r) {
            if(possible_filters.indexOf(r.type) == -1)
                possible_filters.push(r.type);
        },this);
        update_filter_buttons(possible_filters);
    };

    // filter relative nodes if a relative filter is set
    var filter_relatives = function(relatives) {
        update_possible_filters(relatives);
        if(!Ext.isEmpty(relative_filter_items)) {
            var _to_remove = [];
            Ext.each(relatives,function(rel) {
                if(relative_filter_items.indexOf(rel.type)==-1)
                    _to_remove.push(rel);
            },this);
            Ext.each(_to_remove,function(tr) {
                relatives.remove(tr);
            },this);
        }
        return relatives;
    };

    var _get_relatives = function(rels) {
        if(!Ext.isEmpty(rels))
            return filter_relatives(rels);
        return [];
    };

    var get_relatives = function(data) {
        return _get_relatives(data._relatives);
    };

    // add relative nodes
    var add_relative = function(data,node_el) {
        var el = Ext.DomHelper.append(RELATIVE_CONTAINER(node_el),{
            tag: 'div',
            cls: 'relative_node'
        },true);
        update_node(el,data);
        var relatives = get_relatives(data);
        Ext.each(data._relatives,function(rel_data) {
            add_relative(rel_data,el);
        },this);
    };

    var current_data = {};
    var last_data = {};

    // set the handler for when the page state changes
    window.onpopstate = function(event) {
        console.log({'pop_state':event});

        // grab the previous state's data
        var data = event.state;

        // load the data
        if(data && data.id) {
            load_node_data(data.id);
        } else {
            load_front_page();
        }
    };

    var _handle_activate_response = function(data) {
        last_data = data;
        current_data = data;

        console.log({data:data,last_data:last_data});

        // the root of data is going to be the node's data
        // use that data to update our main node div
        update_node(MAIN_EL(),data);

        // now update the relatives
        // first clear out the relatives we have showing now
        clear_relatives();

        // now that we have a clean canvas, render in
        // our relatives
        var relatives = get_relatives(data);
        Ext.each(data._relatives,add_relative);
    };

    var handle_activate_response = function(response) {
        var data = Ext.decode(response.responseText);
        _handle_activate_response(data);
    };

    var handle_activate_multi_response = function(response) {
        var data = Ext.decode(response.responseText);
        data = {_relatives:data};
        _handle_activate_response(data);
    };

    var load_front_page = function(count) {
        var front_page_count = count || 10;
        Ext.Ajax.request({
            url:'/node/recent/'+front_page_count,
            success: handle_activate_multi_response
        });
    };

    // parse the url and return back relevant
    // node id
    var get_node_from_url = function() {
        // get url
        var url = document.location.href;

        // split on slashes
        var pieces = url.split('/');

        // grab the piece after our domain
        var node_id;
        Ext.each(pieces,function(p) {
            // our node id is the first number we find
            var i = parseInt(p);
            // parseint doesn't give a shit how many dots
            // are in the string, we exclude localhost
            if(!isNaN(i) && p.indexOf('127.0.0.1') == -1) {
                node_id = i;
                return false;
            }
        });

        return node_id;
    };

    // when the page loads we either need
    // to loadup the node that's defined in the url
    // or load the default front page
    var handle_page_load = function() {
        // see if there is a node in the url
        var node_id = get_node_from_url();

        // if there is a node activate it
        if(!Ext.isEmpty(node_id)) {
            console.log('loading node data: '+node_id);
            load_node_data(node_id);
        }

        // if not, default load
        else {
            console.log('loading front page');
            load_front_page();
        }
    };

    // function to update our view
    var activate = function(id) {
        console.log('activating '+id)

        // add it to our state, handler will load the data
        // update the window's url
        window.history.pushState({
            'id':id,
            'relative_filter_items':relative_filter_items
        }, 'Node: '+id, '/'+id);

        // load the data
        load_node_data(id);
    };

    // load up data from the server and display it
    var load_node_data = function(id) {
        // fetch the nodes data
        console.log('loading node data: '+id);
        var depth = 2;
        Ext.Ajax.request({
            url:'/node/get/'+id+'/'+depth+'/',
            success: handle_activate_response
        });
        
    };

    // get's a node's description
    var get_node_description = function(node_type,callback,scope) {
        // if node_type is a number than it's def not a type
        var num_node_type = parseInt(node_type);
        if(!isNaN(num_node_type)) {
            var url = '/node/describe/?id='+num_node_type;
        } else {
            var url = '/node/describe/'+node_type;
        }
        Ext.Ajax.request({
            scope:this,
            url:url,
            success: function(response) {
                data = Ext.decode(response.responseText);
                callback.call(scope,data);
            }
        });
    };


    // we want to refresh the page's data
    // for now this means doing a load
    // for the current id
    var refresh_page_data = function(form) {
        if(Ext.isEmpty(last_data.id)) {
            load_front_page();
        } else {
            activate(last_data.id);
        }
    };

    // submit a node update / create
    var submit_node_update = function(form) {
        // if there is an id in the form than
        // it's an update not new
        var type = form.child('input[name=id]')?'update':'create';
        console.log({form:form,type:type});
        Ext.Ajax.request({
            scope:this,
            form:form,
            url:'/node/'+type,
            success: function(response) {
                // data is the node's new data
                var data = Ext.decode(response.responseText);

                // now that we have submitted we
                // can clear the form
                form.remove();

                // refresh the page
                refresh_page_data();
            }
        });
    };

    // show's the edit / new obj form on the page
    var FIELD_TEMPLATE = {
        'str': new Ext.Template('<label>',
                                '<span class="name">',
                                '{name}:',
                                '</span> ',
                                '<textarea name="{name}">',
                                '{value}',
                                '</textarea>',
                                '</label><br/>'),

        'hidden': new Ext.Template('<input type="hidden"',
                                   'name="{name}"',
                                   'value="{value}"/>')

    };

    var edit_current_node = function() {
        // make sure we're on a node
        if(Ext.isEmpty(current_data)) return false;

        // get the node's description + send it off 2 edit
        get_node_description(current_data.id,function(data) {
            show_node_edit(data.type,data.fields,current_data);
        },this);
    };

    var show_node_edit = function(node_type,fields,data) {
        // get the container
        var container = Ext.get('form_container');

        // make room! make room I say !
        container.update('');

        console.log({'node_type':node_type,'fields':fields,'data':data});

        // create our form
        var name, type, form_html = [];
        for(name in fields) {
            type = fields[name];
            console.log({'type':type,'name':name});
            var value = data[name];
            if(type=='str') { value = escape(value); }
            form_html.push(FIELD_TEMPLATE[type].apply({'name':name,
                                                       'value':data[name]}));
        }

        // if we were passed an id render that in also
        if(!Ext.isEmpty(data['id'])) {
            form_html.push(FIELD_TEMPLATE['hidden'].apply({'name':'id',
                                                          'value':data['id']}));
        }

        // add in the nodes type
        form_html.push(FIELD_TEMPLATE['hidden'].apply({'name':'type',
                                                       'value':node_type}));

        // add any relatives
        if(!Ext.isEmpty(data['_add_relative'])) {
            form_html.push(FIELD_TEMPLATE['hidden'].apply({
                                               'name':'_add_relative',
                                               'value':data['_add_relative']}));
        }

        console.log('adding form')

        // render in our form
        var form = Ext.DomHelper.append(container,{
            tag:'form',
            html:form_html.join('\n')
        },true);

        // add in the submit button
        var button = Ext.DomHelper.append(form,{
            tag:'button',
            html:'Submit'
        },true);

        // add in our click handler for the button
        button.on('click',function(e) {
            // stop default button action (aka submit)
            e.preventDefault();

            // submit the form
            submit_node_update(form);
        },this);
    };
    
    // we want to be able to add a new comment
    // to an existing node
    var add_comment = function(relative_id) {
        // first get the fields that a comment can have
        get_node_description('Comment',function(data) {
            // now that we know the fields,
            // put up a form w/ those fields
            var fields = data.fields;
            show_node_edit('Comment',fields,{'_add_relative':relative_id});
        },this);
    };

    // generic method for adding a new node
    var add_node = function(type,relative_id) {
        // first things first, find out what fields the node type has
        console.log({add_node_type:type});
        get_node_description(type,function(data) {
            // now that we know the fields,
            // put up a form w/ those fields
            var fields = data.fields;
            show_node_edit(type,fields,{'_add_relative':relative_id});
        },this);
    };

    // queries the server for the list of possible nodes
    var get_node_types = function(callback,scope) {
        Ext.Ajax.request({
            url:'/node/get_types',
            success:function(response) {
                var types = Ext.decode(response.responseText);
                // push those types along
                callback.call(scope,types);
            }
        });
    };

    // this function is going to add buttons for adding new nodes
    var update_new_node_buttons = function() {

        // first we ask the server what all the different types are
        get_node_types(function(types) {
            console.log({node_types: types});
            // add buttons to our container to add new nodes
            // of each type
            // where are we putting these buttons?
            var container = Ext.get('add_nodes');
            console.log({adding_new_node_buttons:container});
            Ext.each(types,function(type) {
                var button = Ext.DomHelper.append(container,{
                    tag: 'button',
                    html: type,
                    class: "add_node "+type
                },true);
                button.on('click',
                          add_node.createCallback(type));
            });
            // add the add comment button for this
            var button = Ext.DomHelper.append(container,{
                tag: 'button',
                html: 'Add Comment to this node',
                class: "add_node relative Comment"
            },true);
            // we want to setup a relative for this one
            button.on('click',function() {
                add_node("Comment",current_data.id);
            });
        },this);
    };


    // ladies and gentlemen start your engines!
    var init = function() {
        Ext.Ajax.disableCaching = false;
        handle_page_load();
        update_new_node_buttons();
    };
    Ext.onReady(init());

    </script>


    <style>
        body { padding: 0; margin: 0; }
        #main_el {
            padding: 15px;
        }
        #relative_container {
            margin: 5px 10px 10px 20px;;
        }
        .relative_node {
            border: 4px solid #cccccc;
            padding: 10px;
            margin: 0 0 10px 0;
            position: relative;
        }
        button {
            border: 1px solid #cccccc;
            margin: 0 2px;
        }
        button.enabled {
            border: 1px solid black;
        }
        .focus {
            position: absolute;
            top: 5px;
            right: 5px;
        }
        #navigation_container {
            padding: 0;
            margin: 0 0 0 0;
        }
        form {
            padding: 20px;
        }
        form label span {
            width: 100;
            float: left;
        }
    </style>
</head>


<body>
    <div id="navigation_options">
        <button onClick="load_front_page();">
            Most Recent
        </button>
    </div>
    <hr/>
    <div id="form_container">
    </div>
    <div id="main_el">
    </div>
    <hr/>
    <div id="node_action_container">
        <div id="add_nodes">Add Node: </div>
        <button onClick="edit_current_node();" id="edit_node">
            Edit Current Node
        </button>
    </div>
    <hr/>
    <div id="filter_button_container">
    </div>
    <hr/>
    <div id="relative_container">
    </div>
</body>

</html>
